@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Nunito Regular';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Medium';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Bold';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito SemiBold';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Black';
  src: url('./assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Light';
  src: url('./assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-nunitoRegular;
}


.containerBg {
  border-radius: 16px;
  border: 1px dashed var(--text-dark, #2B2C34);
  background: #F1F4F8;
}